$backgroundColor: #F1F5FB;
$mainColor: #FFFFFF;

$accentColor: #28A745;
$successColor: #42d163;
$warningColor: #FFC107;
$dangerColor: #DC3545;

$textColorLight: #F5F5F5;
$textColorDark: #4A4A4A;


$fontFamily: "Montserrat Bold", "Roboto", sans-serif;

$borderShadow: darken($mainColor, 12.5%);

.background {
    -fx-background-color: $backgroundColor;
}

.separator {
    -fx-background-color: $backgroundColor;

    -fx-translate-x: 1px;
}

.sidebar {
    -fx-background-color: $accentColor;
    -fx-background-radius: 0 0 28px 0;

    -fx-border-color: $borderShadow;
    -fx-border-width: 0 1 1 0;
    -fx-border-radius: 0 0 28px 0;

    .sidebar-brand {
        .sidebar-brand-icon {
            -fx-fill: $textColorLight;
            
            -glyph-size: 80px;
        }

        .sidebar-brand-text {
            -fx-text-fill: $textColorLight;
            -fx-alignment: center;

            -fx-font-family: $fontFamily;
            -fx-font-size: 21px;
        }
    }
    
    .sidebar-menu {
        .sidebar-menu-item {
            .sidebar-menu-item-icon {
                -fx-fill: $textColorLight;
                
                -glyph-size: 32px;
            }

            -fx-background-color: transparent;
            -fx-background-radius: 28px 0 0 28px;

            -fx-border-radius: 28px 0 0 28px;
            
            -fx-text-fill: $textColorLight;
            -fx-alignment: center;

            -fx-font-family: $fontFamily;
            -fx-font-size: 18px;

            -fx-cursor: hand;

            &:hover {
                .sidebar-menu-item-icon {
                    -fx-fill: darken($textColorLight, 6%);
                }

                -fx-background-color: darken($accentColor, 6%);

                -fx-text-fill: darken($textColorLight, 6%);
            }
        }

        .sidebar-menu-item-active {
            .sidebar-menu-item-icon {
                -fx-fill: $accentColor !important;
            }

            -fx-background-color: $backgroundColor !important;

            -fx-text-fill: $accentColor !important;

            -fx-translate-x: 1px;
        }
    }
}

.content {
    .content-header {
        -fx-background-color: $mainColor;
        -fx-background-radius: 0 0 28px 0;

        -fx-border-color: $borderShadow;
        -fx-border-width: 0 1 1 0;
        -fx-border-radius: 0 0 28px 0;

        .content-header-title {
            -fx-text-fill: $textColorDark;
            -fx-alignment: center;

            -fx-font-family: $fontFamily;
            -fx-font-size: 21px;
        }

        .content-header-profile {
            -fx-text-fill: $textColorDark;
            -fx-alignment: center;

            -fx-font-family: $fontFamily;
            -fx-font-size: 18px;
        }
    }

    .content-body {
        .content-body-item {
            -fx-background-color: $mainColor;
            -fx-background-radius: 28px;

            -fx-border-color: $borderShadow;
            -fx-border-width: 1;
            -fx-border-radius: 28px;

            .content-body-item-subtitle {
                -fx-text-fill: $textColorDark;
<<<<<<< HEAD
                -fx-alignment: left;
=======
>>>>>>> db838e3b20a6e8e8092145de5f5b81dbe20f89b0

                -fx-font-family: $fontFamily;
                -fx-font-size: 18px;

                -fx-border-color: $borderShadow;
                -fx-border-width: 0 0 1 0;
            }

<<<<<<< HEAD
            .content-body-item-table {
                -fx-background-color: transparent;

                -fx-border-color: $borderShadow;
                -fx-border-width: 0 0 1 0;

                .content-body-item-table-header {
                    -fx-background-color: $mainColor;
                    
                    -fx-size:48px;

                    -fx-border-color: $borderShadow;
                    -fx-border-width: 0 1 1 0;

                    -fx-cursor: hand;

                    // .table-cell {
                    //     -fx-text-fill: $textColorDark;
                    //     -fx-alignment: center;

                    //     -fx-font-family: $fontFamily;
                    //     -fx-font-size: 18px;
                    // }
                }
            }

            .content-body-data-label {
                -fx-text-fill: $textColorDark;
                -fx-alignment: left;
=======
            .content-body-action-label {
                -fx-text-fill: $textColorDark;
>>>>>>> db838e3b20a6e8e8092145de5f5b81dbe20f89b0

                -fx-font-family: $fontFamily;
                -fx-font-size: 16px;
            }

<<<<<<< HEAD
            .content-body-data-textfield {
                -fx-text-fill: $textColorDark;
                -fx-alignment: left;

                -fx-font-family: $fontFamily;
                -fx-font-size: 14px;
            }

            .content-body-action-button-success {
                -fx-background-color: $successColor;
                -fx-background-radius: 12px;

                -fx-text-fill: $textColorLight;
=======
            .content-body-action-textfield {
                -fx-text-fill: $textColorDark;

                -fx-font-family: $fontFamily;
                -fx-font-size: 11px;
            }

            .content-body-action-button {
                -fx-background-radius: 0;

>>>>>>> db838e3b20a6e8e8092145de5f5b81dbe20f89b0
                -fx-alignment: center;

                -fx-font-family: $fontFamily;
                -fx-font-size: 18px;

                -fx-cursor: hand;

<<<<<<< HEAD
                -fx-border-color: darken($successColor, 12.5%);
                -fx-border-width: 1px;
                -fx-border-radius: 8px;

                &:hover {
                    -fx-background-color: darken($successColor, 10%);
                    -fx-text-fill: darken($textColorLight, 10%);
=======
                -fx-border-width: 1px 0 1px 0;
                -fx-border-radius: 0;

                .content-body-action-button-icon {
                    -fx-fill: $textColorLight;
                    
                    -glyph-size: 22px;
                }

                &:hover {
                    .content-body-action-button-icon {
                        -fx-fill: darken($textColorLight, 10%);
                    }
                }
            }

            .content-body-action-button-success {
                -fx-background-color: $successColor;

                -fx-border-color: darken($successColor, 12.5%);

                &:hover {
                    -fx-background-color: darken($successColor, 6%);
>>>>>>> db838e3b20a6e8e8092145de5f5b81dbe20f89b0
                }
            }

            .content-body-action-button-warning {
                -fx-background-color: $warningColor;
<<<<<<< HEAD
                -fx-background-radius: 12px;

                -fx-text-fill: $textColorLight;
                -fx-alignment: center;

                -fx-font-family: $fontFamily;
                -fx-font-size: 18px;

                -fx-cursor: hand;

                -fx-border-color: darken($warningColor, 12.5%);
                -fx-border-width: 1px;
                -fx-border-radius: 8px;

                &:hover {
                    -fx-background-color: darken($warningColor, 10%);
                    -fx-text-fill: darken($textColorLight, 10%);
                }
=======

                -fx-border-color: darken($warningColor, 12.5%);
>>>>>>> db838e3b20a6e8e8092145de5f5b81dbe20f89b0
            }

            .content-body-action-button-danger {
                -fx-background-color: $dangerColor;
<<<<<<< HEAD
                -fx-background-radius: 12px;

                -fx-text-fill: $textColorLight;
                -fx-alignment: center;

                -fx-font-family: $fontFamily;
                -fx-font-size: 18px;

                -fx-cursor: hand;

                -fx-border-color: darken($dangerColor, 12.5%);
                -fx-border-width: 1px;
                -fx-border-radius: 8px;

                &:hover {
                    -fx-background-color: darken($dangerColor, 10%);
                    -fx-text-fill: darken($textColorLight, 10%);
                }
            }
        }
    }
}
=======

                -fx-border-color: darken($dangerColor, 12.5%);
            }

            .content-body-action-button-left {
                -fx-background-radius: 11px 0 0 11px;
                
                -fx-border-width: 1px 0 1px 1px;
                -fx-border-radius: 8px 0 0 8px;
            }

            .content-body-action-button-right {
                -fx-background-radius: 0 11px 11px 0;
                
                -fx-border-width: 1px 1px 1px 0;
                -fx-border-radius: 0 8px 8px 0;
            }
        }
    }
}

.table-view {
    -fx-background-color: transparent;

    .column-header {
        -fx-background-color: $mainColor;

        -fx-border-color: $borderShadow;
        -fx-border-width: 0 1px 1px 0;

        -fx-cursor: hand;
    }
    
    .column-header-background {
        -fx-background-color: transparent;
        
        .label {
            -fx-text-fill: $textColorDark;

            -fx-font-family: $fontFamily;
            -fx-font-size: 14px;
        }
    }
}

>>>>>>> db838e3b20a6e8e8092145de5f5b81dbe20f89b0
